.navbar {
  background-color:#798E87;
  border-color:#798E87;
  font-family: 'CentraleSansRnd';
  color:#ffffff;
  font-weight: 700;
}

.navbar-brand {
    font-size: 300%;
}
 
 body {
  text-align: left;
  color: #58585a;
  font-family: 'CentraleSansRnd';
  font-size: 85%;
  letter-spacing: 0.05em;
  line-height:18px;
  vertical-align: middle;
} 

.value-box {
  height: 55px;
}

.value-box .caption {
    font-size: 175%;
}

.value-box .value {
    font-size: 250%;
    font-weight: bold;
    margin: 0 0 3px 0;
    white-space: nowrap;
    padding: 0;
}